<footer style="border-radius: 6px;" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div style="color:#fff; height: 100%;width: 100%; text-align:center;line-height: 1.3;">&copy; Conestoga College
    </div>
</footer>
</body>

</html>